body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.btn {
  width: 95%;
  padding: 10px;
  border: none;
  background: #2575fc;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

}

.btn:hover {
  background: #6a11cb;
  transition: background 0.8s ease;
}

#message {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}
